@import "../../styles/breakpoints";

.mini-card-background {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-right: 3px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;

  @include md {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    margin-right: 12px;
  }

  @include lg {
    width: 220px;
    height: 220px;
    margin-bottom: 60px;
  }

  @include xl {
    width: 280px;
    height: 280px;
    border-radius: 12px;
    margin-bottom: 27px;
  }
}

.mini-card-pokemon-name {
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;

  @include md {
    font-size: 16px;
  }

  @include xl {
    font-size: 25px;
  }
}

.mini-card {
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translate(-50%, 0);
  background-color: #fff;
  width: 96px;
  height: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @include md {
    width: 143px;
    height: 120px;
  }

  @include lg {
    top: 4px;
    width: 205px;
    height: 190px;
  }

  @include xl {
    width: 270px;
    height: 240px;
  }
}
.pokemon-id {
  position: absolute;
  font-size: 14px;

  @include md {
    font-size: 20px;
  }

  @include xl {
    font-size: 30px;
  }
}

.pokemon-mini-image-container {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 70px;

  @include sm {
    top: 22%;
    width: 60px;
    height: 50px;
  }
  @include md {
    top: 16%;
    width: 100px;
    height: 80px;
  }

  @include lg {
    width: 150px;
    height: 100px;
    top: 20%;
  }

  @include xl {
    width: 180px;
  }
}

.mini-card-background:hover {
  transform: scale(1.2);
  z-index: 1;
}
