@import "../../styles/breakpoints";

.pokemonListContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px 0px;
  position: relative;
  width: 100%;
  background: #f7f7f7;

  @include lg {
    width: 800px;
    border-radius: 12px;
  }

  @include xl {
    width: 1000px;
  }
}

.pokedexTitle {
  display: block;
  width: 328px;
  height: 32px;
  margin-bottom: 10px;
  cursor: pointer;

  @include md {
    width: 600px;
    height: 60px;
    margin-bottom: 20px;
  }

  @include lg {
    width: 800px;
    height: 80px;
    margin-bottom: 30px;
  }
}

.pokemonCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;

  @include md {
    margin-top: 30px;
  }
}

.chevron {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.searchInput {
  width: 100%;
}
