@import "../../styles/breakpoints";

.aboutParameter {
  font-size: 12px;
}

.parametersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 20px 0px;
  position: absolute;
  width: 352px;
  height: 412px;
  left: 4px;
  top: 224px;
  background: #ffffff;
  border-radius: 8px;

  @include md {
    top: 300px;
    width: 592px;
    height: 596px;
  }
}

.typeContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  @include md {
    top: 90px;
  }
}

.aboutSection {
  text-align: center;
  margin-top: 30px;
  width: 100%;

  @include md {
    margin-top: 65px;
  }
  @include lg {
    margin-top: 80px;
  }
  .aboutMainHeader {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;

    @include md {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.pokemonDescription {
  padding-top: 5px;
  font-size: 10px;

  @include md {
    font-size: 17px;
  }
}
.baseStatsContainer {
  width: 100%;
}

.baseStatsHeader {
  text-align: center;
  font-size: 14px;
  font-weight: bold;

  @include md {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.statsHeader {
  margin-bottom: 0px;

  @include md {
    margin-top: 15px;
  }
}

.baseStatName {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  font-size: 12px;
  padding-right: 8px;

  @include md {
    font-size: 17px;
    padding-right: 15px;
  }
}

.baseStatScore {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-left: 8px;

  @include md {
    font-size: 17px;
    padding-left: 15px;
  }
}

.baseStatVisualRepresentation {
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  @include md {
    padding-left: 15px;
  }
}

.statsWrapper {
  display: flex;
}
