@import "../../styles/breakpoints";

.about-parameter {
  font-size: 12px;
}

.parameters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 20px 0px;
  position: absolute;
  width: 352px;
  height: 412px;
  left: 4px;
  top: 224px;
  background: #ffffff;
  border-radius: 8px;

  @include md {
    top: 300px;
    width: 592px;
    height: 596px;
  }
}

.type-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  @include md {
    top: 90px;
  }
}

.about-section {
  text-align: center;
  margin-top: 30px;
  width: 100%;

  @include md {
    margin-top: 65px;
  }
  .about-main-header {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;

    @include md {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.weight-container,
.height-container {
  display: inline-block;
  width: 30%;
}
.weight {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 60px;

  @include md {
    height: 70px;
  }
}
.height {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  height: 60px;
  @include md {
    height: 70px;
  }
}
.about-header {
  padding-bottom: 4px;
  font-size: 10px;
  color: grey;

  @include md {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
.scale-icon,
.ruler-icon {
  width: 15px;
  height: 15px;
  color: black;
}
.moves-container {
  display: inline-block;
  width: 35%;
}
.moves {
  display: flex;
  flex-direction: column;
  height: 60px;
  @include md {
    height: 70px;
  }
}

.pokemon-description {
  padding-top: 5px;
  font-size: 10px;

  @include md {
    font-size: 17px;
  }
}
.base-stats-container {
  width: 100%;
}

.base-stats-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;

  @include md {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.stats-header {
  margin-bottom: 0px;

  @include md {
    margin-top: 15px;
  }
}
.base-stats-parameters {
  display: inline-block;
  margin-top: 0;
}

.base-stat-name {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  font-size: 12px;
  padding-right: 8px;

  @include md {
    font-size: 17px;
    padding-right: 15px;
  }
}

.base-stat-score {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-left: 8px;

  @include md {
    font-size: 17px;
    padding-left: 15px;
  }
}

.base-stat-visual-representation {
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  @include md {
    padding-left: 15px;
  }
}
