@import "breakpoints";

$bug-color: #a7b723;
$ghost-color: #70559b;
$fairy-color: #e69eac;
$fire-color: #f57d31;
$dragon-color: #7037ff;
$electric-color: #f9cf30;
$flying-color: #a891ec;
$fighting-color: #c12239;
$poison-color: #a43e9e;
$sandy: #dec16b;
$water-color: #6493eb;
$rock-color: #b69e31;
$psychic-color: #fb5584;
$ice-color: #9ad6df;
$normal-color: #aaa67f;
$dark-color: #75574c;
$steel-color: #b7b9d0;

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.copyright {
  font-size: 8px;

  @include md{
    font-size:12px;
  }
}

.def {
  width: 40%;
}

.satk {
  width: 80%;
}

.sdef {
  width: 15%;
}

.spd {
  width: 10%;
}
.bgc-grass,
.bgc-bug {
  background-color: $bug-color;
}

.bgc-rock {
  background-color: $rock-color;
}

.bgc-ghost {
  background-color: $ghost-color;
}

.bgc-steel {
  background-color: $steel-color;
}

.bgc-water {
  background-color: $water-color;
}

.bgc-psychic {
  background-color: $psychic-color;
}

.bgc-ice {
  background-color: $ice-color;
}

.bgc-dark {
  background-color: $dark-color;
}

.bgc-fairy {
  background-color: $fairy-color;
}

.bgc-dragon {
  background-color: $dragon-color;
}

.bgc-electric {
  background-color: $electric-color;
}

.bgc-fire {
  background-color: $fire-color;
}

.bgc-ground {
  background-color: $sandy;
}

.bgc-poison {
  background-color: $poison-color;
}

.bgc-flying {
  background-color: $flying-color;
}

.bgc-fighting {
  background-color: $fighting-color;
}

.bgc-normal {
  background-color: $normal-color;
}

.grass,
.bug {
  color: $bug-color;
}

.rock {
  color: $rock-color;
}

.ghost {
  color: $ghost-color;
}

.steel {
  color: $steel-color;
}

.water {
  color: $water-color;
}

.psychic {
  color: $psychic-color;
}

.ice {
  color: $ice-color;
}

.dark {
  color: $dark-color;
}

.fairy {
  color: $fairy-color;
}

.dragon {
  color: $dragon-color;
}

.electric {
  color: $electric-color;
}

.fire {
  color: $fire-color;
}

.ground {
  color: $sandy;
}

.poison {
  color: $poison-color;
}

.flying {
  color: $flying-color;
}

.fighting {
  color: $fighting-color;
}

.normal {
  color: $normal-color;
}
